<h1>{{name}}
</h1>
<div fxLayout="row" class="class" fxLayout="row wrap">
    <app-bar-chart fxFlex="45"  class="profile-info" fxFlex.lt-sm="100" fxFlex.sm="50"></app-bar-chart>
    <app-line-chart fxFlex="45" class="edit-profile" fxFlex.lt-sm="100" fxFlex.sm="50"></app-line-chart>
</div>  

<div fxLayout="row" class="class" fxLayout="row wrap">
    <app-radar-chart fxFlex="45"  class="profile-info" fxFlex.lt-sm="100" fxFlex.sm="50"></app-radar-chart>
    <app-polar-area-chart fxFlex="45" class="edit-profile" fxFlex.lt-sm="100" fxFlex.sm="50"></app-polar-area-chart>
</div>  


