<div class="d-inline-flex justify-content-around container">
  <h5 class="col-1 logo">
    <img src="assets/agroGo.png" width="120" height="80" alt="" class="">
  </h5>
  <form class="example-form mat-elevation-z4">
    <input matInput [(ngModel)]="searchText" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl"
      class="input" placeholder="Search the plant">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
        <img class="example-option-img" aria-hidden [src]="state.image" height="25">
        <span>{{state.name}}</span> |
        <small> <img src="assets/grey-location.png" class="location" alt="">
          {{state.location}}</small>
      </mat-option>
    </mat-autocomplete>
  </form>
  <div class="map-list-toggle">
    <mat-button-toggle mat-fab [routerLink]="['../plant-map']" routerLinkActive="active" class="map-button"
      data-toogle="tooltip" title="Map">
      <mat-icon aria-label="Go to map page">my_location</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle mat-fab [routerLink]="['../plant-list']" routerLinkActive="active" class="list-button"
      data-toogle="tooltip" title="Plant List">
      <mat-icon aria-label="Go to list page">drag_indicator</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle mat-fab [routerLink]="['../endemic-species']" routerLinkActive="active" class="endemic-button"
      data-toogle="tooltip" title="Endemic Species">
      <mat-icon class="E" aria-label="Go to list page">E</mat-icon>
    </mat-button-toggle>
  </div>
</div>
<div class="row plants">
  <mat-card class="example-card mat-elevation-z4" *ngFor="let product of products | filter:searchText">
    <img mat-card-image src="{{product.image}}" alt="Photo of a Shiba Inu" class="image">
    <div fxLayout="row">
      <mat-card-title>{{product.name}}</mat-card-title>
    </div>
    <div class="d-flex ">
      <img src="assets/grey-location.png" class="location" alt="">
      <mat-card-subtitle>{{product.location}}</mat-card-subtitle>
    </div>
    <div class="description">
      <p>
        {{product.description}}
      </p>
    </div>
    <div class="mak-list-toggle text-center">
      <mat-button-toggle mat-fab [routerLink]="['../plant-map']" class="button1">
        Check Location
      </mat-button-toggle>
      <mat-button-toggle mat-fab [routerLink]="['/graphs',product.name]" class="button2">
        Check Graph
      </mat-button-toggle>
    </div>
  </mat-card>
</div>
